header{
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;

}

body {
    background-color: #5b8e7d;
}
table {
    float: right;
    padding-right: 20px;
}
a {
    padding: 15px;
    color: white;
    text-decoration: none;
}
h1 {
    color: #f4e285;
    font-family: "Quicksand";
    font-size: 60pt;
}
h3 {
    margin-top: -50px;
    font-family: "Karla";
    font-weight: 100;
}
p {
    text-align: center;
    font-family: "Karla";
}
.ribbon {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}
.about {
    position: fixed;
    top: 38px;
    right: 0px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    color: white;
}

