@import "tailwindcss";

:root {
  --background: #5b8e7d;
  --midground: #75a091; 
  --navbar: #114634; 
  --foreground: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --foreground: #85b1a3;
    --font-work-sans: 'Work Sans', serif;
    --font-quicksand: 'Quicksand', serif;
    --font-karla: 'Karla', sans-serif;
  }
}

.font-work-sans {
  font-family: var(--font-work-sans);
}

.font-quicksand {
  font-family: var(--font-quicksand);
}

.font-karla {
  font-family: var(--font-karla);
}

.link {
  text-decoration: none;
  transition: all 0.5s;
}

.h1 {
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 60pt;
}

.h2 {
  font-family: var(--font-quicksand);
  font-weight: 500;
  font-size: 40pt;
}

.h3 {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 20pt;
}

.button {
  text-align: left;
  font-family: var(--font-karla);
  font-weight: 700;
}

.p {
  text-align: center;
  font-family: var(--font-karla);
  font-weight: 500;
}

.ol,
.li {
  text-align: left;
  font-family: var(--font-karla);
  font-weight: 500;
}

/* globals.css or a separate CSS file */
.slide-scroll {
  scrollbar-width: thin;                /* Firefox */
  scrollbar-color: rgba(255,255,255,0.35) transparent;
}

/* Chrome / Edge / Safari */
.slide-scroll::-webkit-scrollbar {
  width: 3px;                           /* ultra thin */
}

.slide-scroll::-webkit-scrollbar-track {
  background: transparent;              /* NO FRAME */
}

.slide-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.35);
  border-radius: 999px;
}

.slide-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.6);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* for the table in R&D */
th {
  border: 1px solid var(--midground); 
  padding: 5px;
}
td {
  border: 1px solid var(--midground); 
  padding: 5px; 
}