@import "tailwindcss";

:root {
  --background: #5b8e7d;
  --midground: #75a091; 
  --navbar: #114634; 
  --foreground: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --foreground: #85b1a3;
    --font-work-sans: 'Work Sans', serif;
    --font-quicksand: 'Quicksand', serif;
    --font-karla: 'Karla', sans-serif;
  }
}

.font-work-sans {
  font-family: var(--font-work-sans);
}

.font-quicksand {
  font-family: var(--font-quicksand);
}

.font-karla {
  font-family: var(--font-karla);
}

.link {
  text-decoration: none;
  transition: all 0.5s;
}

.h1 {
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 60pt;
}

.h2 {
  font-family: var(--font-quicksand);
  font-weight: 500;
  font-size: 40pt;
}

.h3 {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 20pt;
}

.button {
  text-align: left;
  font-family: var(--font-karla);
  font-weight: 700;
}

.p {
  text-align: center;
  font-family: var(--font-karla);
  font-weight: 500;
}

.ol,
.li {
  text-align: left;
  font-family: var(--font-karla);
  font-weight: 500;
}

/* globals.css or a separate CSS file */
.my-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}